apiVersion: v1
kind: Service
metadata:
  name: geotrack-redis
  namespace: geotrack
  labels:
    app.kubernetes.io/component: redis
spec:
  ports:
    - port: 6379
      targetPort: 6379
      name: redis
  selector:
    app.kubernetes.io/component: redis
  clusterIP: None
