apiVersion: apps/v1
kind: Deployment
metadata:
  name: geotrack-sonarqube
  namespace: geotrack
  labels:
    app.kubernetes.io/component: sonarqube
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/component: sonarqube
  template:
    metadata:
      labels:
        app.kubernetes.io/component: sonarqube
    spec:
      containers:
        - name: sonarqube
          image: sonarqube:10-community
          ports:
            - containerPort: 9000
              name: http
          env:
            - name: SONAR_ES_BOOTSTRAP_CHECKS_DISABLE
              value: "true"
          resources:
            requests:
              cpu: 500m
              memory: 1Gi
            limits:
              cpu: "2"
              memory: 2Gi
          readinessProbe:
            httpGet:
              path: /api/system/status
              port: http
            initialDelaySeconds: 60
            periodSeconds: 30
          livenessProbe:
            httpGet:
              path: /api/system/status
              port: http
            initialDelaySeconds: 120
            periodSeconds: 30
