apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: geotrack-dev

namePrefix: dev-

resources:
  - ../../base

patches:
  - target:
      kind: Deployment
      name: geotrack-api
    patch: |
      - op: replace
        path: /spec/replicas
        value: 1
  - target:
      kind: Deployment
      name: geotrack-processing
    patch: |
      - op: replace
        path: /spec/replicas
        value: 1
  - target:
      kind: HorizontalPodAutoscaler
      name: geotrack-api
    patch: |
      - op: replace
        path: /spec/minReplicas
        value: 1
      - op: replace
        path: /spec/maxReplicas
        value: 2
  - target:
      kind: StatefulSet
      name: geotrack-postgres
    patch: |
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: 1Gi
      - op: replace
        path: /spec/volumeClaimTemplates/0/spec/resources/requests/storage
        value: 10Gi
  - target:
      kind: StatefulSet
      name: geotrack-kafka
    patch: |
      - op: replace
        path: /spec/volumeClaimTemplates/0/spec/resources/requests/storage
        value: 5Gi
